
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}

h1{
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}
.nav{
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase ;
}
.btn-free{
    font-weight: 400;
    color: #fff;
    background-color: #1085e4;
}
.grid h2{
    font-size: 40px;
    font-weight: 700;
    color: #20315d;
}
.grid h2 span{
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}
.grid-item h3{
    font-size: 14px;
    font-weight: 800;
    color: #192b59;
}
.grid-item p{
    font-size: 12px;
    font-weight: 600;
    color: #7581a1;
}
.grid-item a{
    font-size: 16px;
    font-weight: 400;
    color: #1085e4;
}